* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/* Definindo cores como variáveis CSS */
:root {
    --cor-laranja: #FF6D62;
    --cor-verde: #12df97;
    --cor-amarelo: #fab508;
    --cor-roxo: #A258E0;
    --cor-azul: #1BB7E5;
    --cor-rosa: #F241A3;
  }

#laranja{background-color: var(--cor-laranja);}
#verde{background-color: var(--cor-verde);}
#amarelo{background-color: var(--cor-amarelo);}
#roxo{background-color: var(--cor-roxo);}
#rosa{background-color: var(--cor-rosa);}
#azul{background-color: var(--cor-azul);}

html{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, span{
    color: white;
}

img.imagem-header {
    width: 320px;
    margin: 30px;
}

div.retorno{
    float: right;
    margin: 1rem;
    width: 4rem;
}

div.header-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.titulo{
    font-weight: 600;
    font-size: 1.6rem;
    border-bottom: 2px solid white;
}

.intertitulo-header {
    color: white;
    margin: 1rem;
    padding: 0.5rem;
    font-style: italic;
    font-size: 1.0rem;
    margin-bottom: 5rem;
    width: 40%;
    line-height: 1.4rem;
    text-align: center;
}

.intertitulo {
    color: white;
    margin: 9rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid white;
}

.bloco{
    margin: 1rem 0rem 4rem 0rem;
}

swiper-container{
    margin: 1rem auto;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 1rem 4rem 1rem 4rem;
}

swiper-slide {
    padding: 8px;
    transition: transform 0.6s;
  }

  swiper-slide:hover {
    transform: scale(1.05);
  }

  .card {
    height: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    background: #f7f7f780;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 16px;
    color: white;
  }

  img.imagem-experimento{
    height: 200px;
    width: 100%;
    object-fit: fill; /* Redimensiona a imagem para preencher o swiper-slide */
    border-radius: 20px;
}


@media (max-width: 990px) {
    swiper-container{
        margin: 1rem auto;
        margin-left: 5rem;
        margin-right: 5rem;
        padding: 1rem 2rem 1rem 2rem;
    }
}


@media (max-width: 400px) {
    swiper-container{
        margin: 1rem auto;
    }
}