* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/* Definindo cores como variáveis CSS */
:root {
    --cor-amarelo: #FEC700;
    --cor-laranja: #FF7F1F;
    --cor-roxo: #B00A8C;
    --cor-rosa: #C92349;
  }

#amarelo{background-color: var(--cor-amarelo);}
#laranja{background-color: var(--cor-laranja);}
#roxo{background-color: var(--cor-roxo);}
#rosa{background-color: var(--cor-rosa);}

/*CSS do HTML*/

html{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62.5%; /*a cada 1 rem, será considerado 10px*/
}


/*CSS para textos*/
.texto-legenda{
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 10rem;
}

.texto-bolinha{
    font-size: 1.37rem;
}

div.bolinha{
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    margin: 0.5rem;
}

div.bolinha-tipo-2{
    width: 1.6rem;
    height: 1.7rem;
    border-radius: 30%;
    margin: 0.2rem;
}

/*CSS do Header*/
header{
    position: relative;
}

img.imagem-header {
    width: 300px;
    margin: 15px;

}

div.header-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.titulo{
    font-weight: 600;
    font-size: 2.6rem;
    border-bottom: 0.2rem solid black;
    margin-bottom: 1rem;
}

.intertitulo-header {
    margin: 1rem;
    padding: 0.5rem;
    font-style: italic;
    font-size: 1.35rem;
    margin-bottom: 5rem;
    width: 40%;
    line-height: 1.9rem;
    text-align: center;
}

/*CSS da Legenda*/

section.section-legenda{
    display: flex;
    flex-direction: column;
}

div.div-conteudo-legenda,
div.div-legenda-como-ler{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

div.tipo-legenda,
div.div-exemplo-bolinha-legenda{
    display: flex;
    flex-direction: row;
    justify-content: center; /*para alinhar o centro do quadrado com a descrição*/
    align-items: center; /*para alinhar o centro do quadrado com a descrição*/
    margin: 0rem 2rem 0rem 2rem;
}