* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/* Definindo cores como variáveis CSS */
:root {
    --cor-amarelo: #FEC700;
    --cor-verde: #39B5B5;
    --cor-laranja: #FF7F1F;
    --cor-roxo: #B00A8C;
    --cor-rosa: #f12d6e;
  }

#amarelo{background-color: var(--cor-amarelo);}
#laranja{background-color: var(--cor-verde);}
#roxo{background-color: var(--cor-laranja);}
#rosa{background-color: var(--cor-rosa);}

/*CSS do HTML*/

html{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62.5%; /*a cada 1 rem, será considerado 10px*/
}


/*CSS para textos*/
.texto-legenda{
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 10rem;
}

.texto-bolinha{
    font-size: 1.37rem;
}

div.bolinha{
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    margin: 0.5rem;
}

div.bolinha-tipo-2{
    width: 1.6rem;
    height: 1.7rem;
    border-radius: 30%;
    margin: 0.2rem;
}

img.imagem-reportagem{
    width: 25rem;
    height: 20rem;
    object-fit: cover; /* Esta propriedade preserva a proporção da imagem */
    border-radius: 10px;
}

div.filtro{
    width: 10rem;
    height: 2rem;
    border: 2px solid black;
    margin: 2rem;
    align-items: center;
}

.fonte-veiculo{
    width: 20rem;
    margin: 2rem 0rem 0rem 0rem;
    padding: 1rem 0rem;
    font-style: italic;
    border-bottom: 1px solid black;
}

.fonte-titulo-reportagem{
    font-size: 1.3rem;
    width: 25rem;
    font-weight: 600;
    padding: 15px 0px;
    line-height: 1.9rem;
}

.fonte-contem{
    font-size: 1rem;
    width: 25rem;
    font-weight: 600;
}

a.texto-link{
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted black;
}


/*CSS do Header*/
header{
    position: relative;
}

img.imagem-header {
    width: 300px;
    margin: 15px;

}

div.header-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.titulo{
    font-weight: 600;
    font-size: 2.6rem;
    border-bottom: 0.2rem solid black;
    margin-bottom: 1rem;
}

.intertitulo-header {
    margin: 1rem;
    padding: 0.5rem;
    font-style: italic;
    font-size: 1.35rem;
    margin-bottom: 5rem;
    width: 40%;
    line-height: 1.9rem;
    text-align: center;
}

/*CSS da Legenda*/

section.section-legenda{
    display: flex;
    flex-direction: column;
}

div.div-conteudo-legenda,
div.div-legenda-como-ler{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

div.tipo-legenda,
div.div-exemplo-bolinha-legenda{
    display: flex;
    flex-direction: row;
    justify-content: center; /*para alinhar o centro do quadrado com a descrição*/
    align-items: center; /*para alinhar o centro do quadrado com a descrição*/
    margin: 0rem 2rem 0rem 2rem;
}


/*CSS do item de reportagem*/

section.materias-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem 0rem 2rem 0rem;
}

div.container-reportagens{
    display: flex;
    flex-direction: row;
}

.item{
    width: 25rem;
    display: flex;
    flex-direction: column;

    margin: 2rem;
}

.container-bolinha-tipo-2{
    display: flex;
    flex-direction: row;
    align-items: left;
}


div.bolinha-tipo-2 {
    position: relative;
    transition: transform 0.3s ease; /* Define uma transição suave de 0.3 segundos */
  }

div.bolinha-tipo-2:hover{
    cursor: pointer;
  }

div.bolinha-tipo-2::before {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border: 0.1rem dotted black;
    top: 0;
    left: 50%;
    transform: translate(-50%, -120%); /*valor x e do y*/
    content: attr(data-conteudo);
    display: block;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    white-space: nowrap;
    transition: transform 0.4s ease;
    opacity: 0;

  }
  
  div.bolinha-tipo-2:hover::before {
    opacity: 1;
    
  }