* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/* Definindo cores como variáveis CSS */
:root {
    --cor-laranja: #FF6D62;
    --cor-verde: #12df97;
    --cor-amarelo: #fab508;
    --cor-roxo: #A258E0;
    --cor-azul: #1BB7E5;
    --cor-rosa: #F241A3;
  }

#laranja{background-color: var(--cor-laranja);}
#verde{background-color: var(--cor-verde);}
#amarelo{background-color: var(--cor-amarelo);}
#roxo{background-color: var(--cor-roxo);}
#rosa{background-color: var(--cor-rosa);}
#azul{background-color: var(--cor-azul);}

html{
    /*a cada 1 rem, será considerado 10px*/
    font-size: 62.5%;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

/*Definições gerais*/
header{
    /*top: 0;
    left: 50%;
    desloca o elemento horizontalmente em -50% do seu próprio tamanho
    transform: translateX(-50%);
    z-index: 9999;
    position: fixed;*/
    margin-bottom: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo com opacidade */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Prefixo do fornecedor para navegadores baseados em WebKit (como o Safari) */
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Definições Header*/
div.header-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%; /*define o comprimento como 100% da página*/    
}

span.linha{
    position: absolute;
    max-width: 70%;
    width: 55%;
    margin: 1.5rem 0rem 0rem 0rem;
    border-top: 0.1rem solid black;
    z-index: 0;
}

span.conteudo-header {
    color: #000;
    font-size: 1.4rem;
    font-style: italic;
    padding: 0rem 0rem 2rem 0rem;
    z-index: 1;

}

/*Definições navegação header*/
nav.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    
}


a.nav-item{
    padding: 0rem 2rem 0rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

/*Definições section Apresentação*/
section.apresentacao {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.apresentacao-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao-conteudo-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p.topico{
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center
}

img {
    max-width: 450px;
}

div.apresentacao-conteudo{
    margin: 50px;
    width: 50%;
}

.bola-conteudo-tipo-2{
    width: 1.7rem;
    height: 1.6rem;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 1rem;
}



/*Definições da section Sobre*/

section.sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

div.sobre-conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.sobre-conteudo-texto{
    width: 55%;
}



/*section da reportagem*/
section.reportagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 50px 30px;
}


.reportagem-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 30px;
}

.item{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.item-conteudo {
    margin-top: -1.4rem;
    width: 20rem;
}

.item-conteudo p {
    max-width: 100%;
}


img.imagem-reportagem{
    width: 20rem;
    height: 20rem;
    object-fit: cover; /* Esta propriedade preserva a proporção da imagem */
    border-radius: 10px;
}

.conteudo-item{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.bola-conteudo{
    width: 1.7rem;
    height: 1.6rem;
    border-radius: 50%;
    margin: 5px 5px 15px 0px;
}



/*section projetos*/
section.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.projeto-conteudo{
    display: flex;
    justify-content: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.projeto-item{
    width: 25rem;

    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}


/*section experimentos*/
section.experimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

/*section contatoss*/
section.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

/*conteudo do fotter*/
footer{
    display: flex;
    justify-content: center;
}

p.footer-conteudo{
    font-size: 1.2rem;
    font-weight: 300;
    border-top: 1.5px solid rgb(184, 184, 184);
    padding: 1.5rem;
}


/*infos de texto*/
p.titulo{
    font-weight: bold;
    font-size: 2.2rem;
    margin: 10px 10px 10px 10px;
}

.texto{
    margin: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
}

.intertitulo{
    font-size: 1.5rem;
    font-weight: bold;
    width: 25rem;
    margin: 20px;
    border-bottom: 2px dotted black;
    padding: 1rem 0rem 0.7rem 0rem;
}

p.descricao-foto{
    width: 90;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 7px;
}

div.linha-separacao{
    width: 30%;
    height: 3px; /* Altura da linha */
    margin: 20px auto 40px auto;

}

.fonte-veiculo{
    width: 20rem;
    margin: 2rem 0rem 0rem 0rem;
    padding: 1rem 0rem;
    font-style: italic;
    border-bottom: 1px solid black;
}

.fonte-titulo-reportagem{
    font-size: 1.3rem;
    width: 25rem;
    font-weight: 600;
    padding: 15px 0px;
    line-height: 1.9rem;
}

.fonte-contem{
    font-size: 1rem;
    width: 25rem;
    font-weight: 600;
}

span.negrito{
    font-weight: bold;
}

.fonte-item-titulo{
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
    padding-bottom: 1.0rem;
    text-align: center;
    line-height: 2.5rem;
}

.fonte-titulo-descricao{
    font-size: 1.5rem;
    line-height: 2.0rem;
    margin-bottom: 1.5rem;
}

a.texto-link{
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted black;
}

.texto-tipo-2{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted black;
    margin: 10px;
}


@media (max-width: 520px) {
    html{
        font-size: 40%;
    }

    span.linha{
        width: 65%;
    }
    
    nav.nav-container{
        width: 90%;
    }
    
    a.nav-item{
        padding: 0rem 0.7rem 0rem 0.7rem;
    }
    
    section.apresentacao {
        height: 350px;
    }

    img {
        max-width: 300px;
    }
    
    div.apresentacao-conteudo{
        width: 70%;
    }

    div.apresentacao-conteudo-linha{
        padding: 1rem;
    }

    .bola-conteudo-tipo-2{
        margin: 1rem;
        width: 2rem;
        height: 1.4rem;

    }
    
    /*Definições da section Sobre*/
  
    div.sobre-conteudo-texto{
        width: 120%;
    }
    
    /*section da reportagem*/
    .reportagem-conteudo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3rem;
        justify-content: space-between;
    }

    .item{
        flex-basis: 35%; /* Define a largura inicial de 50% para cada item */
        max-width: 35%; /* Define a largura máxima de 50% para cada item */
        box-sizing: border-box; /* Inclui a largura da borda e o preenchimento no cálculo da largura */
        /* Outros estilos para os itens */
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-bottom: 5rem;
    }

    /*section projetos*/
  
/*section projetos*/
    .projeto-conteudo{
        margin-top: 2rem;
    }

    .projeto-item{
        width: 20rem;
        padding: 10px;
        margin: 10px;
    }

    section.contatos{
        margin: auto 50px;
        text-align: center;
        margin-bottom: 50px;
    }


}