* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/*Definições gerais*/
header{
    position: relative;
    height: 90px;
    background-color: aquamarine;
    position: fixed;
    width: 100%; /*define o comprimento como 100% da página*/
}

body {
    font-family: 'Urbanist', 'Roboto';
}

/*Definições Header*/
div.header-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

span.linha{
    position: absolute;
    width: 45%;
    top: 33%;
    border-top: 1px solid black;
    z-index: 0;
}

span.conteudo-header {
    color: #000;
    font-size: 16px;
    font-style: italic;
    background-color: white; /* Opcional: define a cor de fundo para cobrir as linhas */
    padding: 0 50px;
    margin: 20px;
    z-index: 1;
}

/*Definições navegação header*/
nav.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

a.nav-item{
    padding: 0px 30px 0px 30px;
    font-weight: 500;
}