* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir o preenchimento e a borda dentro da largura/altura total do elemento*/
    text-decoration: none;
}

/* Definindo cores como variáveis CSS */
:root {
    --cor-laranja: #FF6D62;
    --cor-verde: #12df97;
    --cor-amarelo: #fab508;
    --cor-roxo: #A258E0;
    --cor-azul: #1BB7E5;
    --cor-rosa: #F241A3;
  }

#laranja{background-color: var(--cor-laranja);}
#verde{background-color: var(--cor-verde);}
#amarelo{background-color: var(--cor-amarelo);}
#roxo{background-color: var(--cor-roxo);}
#rosa{background-color: var(--cor-rosa);}
#azul{background-color: var(--cor-azul);}

html{
    /*a cada 1 rem, será considerado 10px*/
    font-size: 62.5%;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}

/*Definições gerais*/
header{
    top: 0;
    left: 50%;
  /*desloca o elemento horizontalmente em -50% do seu próprio tamanho*/
    transform: translateX(-50%);
    z-index: 9999;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo com opacidade */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Prefixo do fornecedor para navegadores baseados em WebKit (como o Safari) */
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Definições Header*/
div.header-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%; /*define o comprimento como 100% da página*/    
}

span.linha{
    position: absolute;
    width: 55%;
    margin: 11px 0px 15px 0px;
    border-top: 1px solid black;
    z-index: 0;
}

span.conteudo-header {
    color: #000;
    font-size: 1.4rem;
    font-style: italic;
    padding: 0 50px;
    margin: 10px 0px 15px 0px;
    z-index: 1;

}

/*Definições navegação header*/
nav.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

a.nav-item{
    padding: 0px 20px 0px 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

/*Definições section Apresentação*/
section.apresentacao {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
}

img {
    width: 320px;
    margin: 30px;
}

div.apresentacao-conteudo{
    margin: 30px;
    width: 35%;
}

div.apresentacao-titulo{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}

div.apresentacao-topicos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

div.topico{
    margin-right: 15px;
    margin-bottom: 15px;
    /*padding: valor-cima valor-direita valor-baixo valor-esquerda;*/
    padding: 8px 15px 8px 15px;
    font-size: 16px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

/*Definições da section Sobre*/

section.sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

div.sobre-conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.sobre-conteudo-texto{
    width: 55%;
}

div.sobre-conteudo-fotos{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

img.foto-redonda-sobre{
    width: 150px;
    border-radius: 50%;
}


/*section da reportagem*/
section.reportagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 50px 30px;
}


.reportagem-conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.item{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.item-conteudo {
    margin-top: -1.4rem;
    width: 20rem;
}

.item-conteudo p {
    max-width: 100%;
}


img.imagem-reportagem{
    width: 20rem;
    height: 20rem;
    object-fit: cover; /* Esta propriedade preserva a proporção da imagem */
    border-radius: 10px;
}

.conteudo-item{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.bola-conteudo{
    width: 1.7rem;
    height: 1.6rem;
    border-radius: 50%;
    margin: 5px 5px 15px 0px;
}

a.texto-link{
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted black;
}
/*infos de texto*/
p.titulo{
    font-weight: bold;
    font-size: 2.2rem;
    margin: 10px;
}

p.texto{
    margin: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
}

p.intertitulo{
    font-size: 1.5rem;
    font-style: italic;
    width: 25rem;
    margin: 20px;
}

p.descricao-foto{
    width: 90;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 7px;
}

div.linha-separacao{
    width: 15%;
    height: 3px; /* Altura da linha */
    margin: 20px auto 40px auto;

}

.fonte-veiculo{
    width: 20rem;
    padding: 5px 0px;
    font-style: italic;
    border-bottom: 1px solid black;
}

.fonte-titulo-reportagem{
    font-size: 1.3rem;
    width: 25rem;
    font-weight: 600;
    padding: 15px 0px;
}

.fonte-contem{
    font-size: 1rem;
    width: 25rem;
    font-weight: 600;
}

span.negrito{
    font-weight: bold;
}